<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<form>
  <h3>Login</h3>
  <input type="email" id="username">
  <input type="password" id="password">
  <button type="button" id="login">Login</button>
  <button type="button" id="logout">Logout</button>
</form>
<div>
  <h3>Mensagens</h3>
  <ul></ul>
</div>
{{ with resources.Get "/js/eventsource.js" }}
<script src="{{ .Permalink }}"></script>
{{ end }}
{{ with resources.Get "/js/main.js" }}
<script src="{{ .Permalink }}"></script>
{{ end }}
</body>
</html>